rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAllowedUser() {
      return request.auth != null
        && request.auth.token.email == "cecilie.nordahl@gmail.com"
        && request.auth.token.email_verified == true;
    }

    match /users/{uid} {
      allow read, write: if isAllowedUser() && request.auth.uid == uid;

      match /periods/{periodId} {
        allow read, write: if isAllowedUser() && request.auth.uid == uid;

        match /months/{monthId} {
          allow read, write: if isAllowedUser() && request.auth.uid == uid;
        }
      }
    }
  }
}
